{{ define "main" }}

<!-- list either selected tag or all tags -->
<small>
  <div style="padding: 1ch">
{{ if .Data.Singular }}
    <i>Filtered by tag: <b>#{{ .Title }}</b><br/>
    <a href="{{ .Site.BaseURL }}">[remove filter]</a></i>
{{else}}
    {{ range .Site.Taxonomies.tags }}
    <i><a style="margin-right:1ch;" href="{{ .Page.Permalink }}">#{{ .Page.Title }}</a></i>
    {{ end }}
{{ end }}
  </div>
</small>

<!-- list either filtered posts or all posts -->
{{ $pages := slice }}
{{ if .Data.Singular }}
  {{ $pages = .Paginator.Pages }}
{{ else }}
  {{ $pages = (.Paginate ( where .Site.RegularPages "Section" "posts" ).ByDate.Reverse).Pages }}
{{ end }}

<content>
  <ul class="blog-posts">
    {{ range $pages }}
    <li>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
      <div class="line"></div>
      <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
        {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
      </time>
    </li>
    {{ end }}
  </ul>
</content>
    {{ template "_internal/pagination.html" . }}
{{ end }}
