{{ define "main" }}

{{ $pages := (.Paginate ( where .Site.RegularPages "Section" .Section ).ByDate.Reverse).Pages }}
<content>
  <ul class="blog-posts">
    {{ range $pages }}
    <li>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
      <div class="line"></div>
      <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
        {{ .Date.Format (default "2006-01-02" .Site.Params.dateFormat) }}
      </time>
    </li>
    {{ end }}
  </ul>
</content>
{{ template "_internal/pagination.html" . }}

{{ end }}
