{{ define "main" }}

{{ if ne .Type "pages" }}
<div class="title">{{ .Title }}</div>
<time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
  {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
</time>
{{ end }}
<small>
  <div style="padding:0;">
   {{ range (.GetTerms "tags") }}
   <i><a style="margin-right:1ch;" href="{{ .Permalink }}"><span class="rotate">🏷</span> {{ .LinkTitle }}</a></i>
  {{ end }}
  </div>
</small>
<content class="writing">
  {{ .Content }}
</content>

{{ end }}
