{{ $isHome := .IsHome }}
{{ $current := . }}

{{ range .Site.Menus.main }}
<!--
{{ $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}
-->
{{ $active := false }}
<!-- specific page in main menu -->
{{ $active = or $active (eq .Name $current.Title) }}
<!-- by default the "index" page are for posts and tags sections -->
{{ $active = or $active (and (eq .Identifier "index") ($isHome)) }}
{{ $active = or $active (and (eq .Identifier "index") (eq $current.Section "posts")) }}
{{ $active = or $active (and (eq .Identifier "index") (eq $current.Section "tags")) }}
<a href="{{ .URL }}"><span style="{{ if not $active }}visibility:hidden;{{ end }}">↳</span>{{ .Name }}</a>
{{ end }}
