<style>
  :root {
    --mono-font: "San Francisco Mono", Monaco, Consolas, "Lucida Console", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
    --sans-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }

  body {
    font-family: var(--sans-font);
    font-size: 1.2rem;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    line-height: 1.6;
    margin: auto;

    padding: 20px;

    max-width: 720px;
    background-color: #fff;
    color: #333;

    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  .logo {
    margin: 0px;
    letter-spacing: 0.25rem;
    color: #444;
    font-weight: 800;
    font-size: 1.4rem;
  }

  main {
    margin: 20px 20px 20px 0;
  }
  time {
    font-variant-numeric: tabular-nums;
    letter-spacing: -0.012em;
  }

  h1, h2, h3, h4, h5, h6, strong, b {
  }

  a, a:visited {
    text-decoration-skip-ink: auto;
    text-decoration: none;
    color: #333;
  }

  ::selection, a:focus, a:hover {
    color: #fff;
    background-color: #444;
  }

  nav a {
    margin-right: 2ch;
    border:1px black;
  }

  textarea {
    width: 100%;
    font-size: 16px;
  }

  input {
    font-size: 16px;
  }

  content {
    line-height: 1.6;
  }

  content a {
    text-decoration: underline;
  }

  table {
    width: 100%;
  }

  img {
    max-width: 100%;
  }

  code {
    padding: 2px 5px;
    background-color: #f2f2f2;
  }

  pre code {
    color: #222;
    display: block;
    padding: 20px;
    white-space: pre-wrap;
    font-size: 14px;
  }

  div.highlight pre {
    background-color: initial;
    color: initial;
  }

  div.highlight code {
    background-color: unset;
    color: unset;
  }

  blockquote {
    border-left: 1px solid #999;
    color: #222;
    padding-left: 20px;
    font-style: italic;
  }

  footer {
    padding: 25px;
    text-align: center;
  }

  .helptext {
    color: #777;
    font-size: small;
  }

  .errorlist {
    color: #eba613;
    font-size: small;
  }

  /* blog posts */
  ul.blog-posts {
    list-style-type: none;
    padding: unset;
    margin: 1px 10px 10px 0px;
  }

  ul.blog-posts li {
    display: flex;
    justify-content: space-between;
    align-items:center;
  }

  ul.blog-posts li span {
    flex: 0 0 130px;
  }

  ul.blog-posts li a {
    text-decoration: none;
  }

  ul.blog-posts li .line {
    text-decoration: none;
    flex-grow: 1;
    border-bottom: 1px dotted;
    border-color: #333;
    min-height: 0.9ch;
    margin: 0 1ch;
  }

  @media (prefers-color-scheme: dark) {
    body {
      background-color: #444;
      color: #eee;
    }

    .logo {
      color: #eee;
    }

    h1, h2, h3, h4, h5, h6, strong, b {
    }

    a, a:visited {
      color: #eee;
    }

    ::selection, a:focus, a:hover {
      color: #333;
      background-color: #ddd;
    }

    ul.blog-posts li .line {
      border-color: #ddd;
    }

    code {
      background-color: #777;
    }

    pre code {
      color: #ddd;
    }

    blockquote {
      color: #ccc;
    }

    textarea,
    input {
      background-color: #252525;
      color: #ddd;
    }

    .helptext {
      color: #aaa;
    }
  }

</style>
